---
import BaseLayout from "../layouts/BaseLayout.astro"
import Feature from "../components/Feature.astro";
import Counter from "../components/Counter.astro";
import Hero from "../components/Hero.astro";
export const TITEL="About Me"
---

<BaseLayout>

    <Hero></Hero>
    <section class="w-fit">
        <div class="container">
            <h2 class="mb-16 text-6xl">Features</h2>
            <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
                <Feature icon="mdi:language-java" title="Java-Entwicklung">
                    Fundierte Erfahrung in objektorientierter Programmierung und der Entwicklung robuster Backend-Systeme mit Java.
                </Feature>
                <Feature icon="mdi:language-python" title="Python-Programmierung">
                    Umfassendes Wissen in der Skripterstellung, Datenverarbeitung und Backend-Entwicklung mit Python.
                </Feature>
                <Feature icon="mdi:language-typescript" title="TypeScript-Entwicklung">
                    Expertise in der Entwicklung sicherer und skalierbarer Anwendungen mit TypeScript.
                </Feature>
                <Feature icon="mdi:language-javascript" title="JavaScript-Programmierung">
                    Tiefgehendes Verständnis von JavaScript für Frontend- und Backend-Entwicklung.
                </Feature>
                <Feature icon="mdi:web" title="Astro Framework">
                    Erfahrung in der Erstellung performanter und moderner statischer Websites mit Astro.
                </Feature>
                <Feature icon="mdi:angular" title="Angular-Framework">
                    Entwicklung dynamischer und skalierbarer Webanwendungen mit Angular und TypeScript.
                </Feature>
                <Feature icon="mdi:vuejs" title="Vue.js-Entwicklung">
                    Praktische Kenntnisse in der Erstellung reaktiver Benutzeroberflächen mit Vue.js.
                </Feature>
                <Feature icon="mdi:database" title="SQL-Datenbanken">
                    Erfahrung in der Abfrage, Analyse und Verwaltung relationaler Datenbanken mit SQL.
                </Feature>
                <Feature icon="mdi:cloud" title="Cloud-Integration">
                    Implementierung von Backend-Systemen und Datenbanklösungen in Cloud-Umgebungen.
                </Feature>
                <Feature icon="mdi:code-tags" title="Full-Stack-Entwicklung">
                    Umfassende Erfahrung in der Frontend- und Backend-Entwicklung mit modernen Technologien und Frameworks.
                </Feature>
            </div>
        </div>
    </section>

    <section class="w-fit">
        <h2 class="mb-16 text-6xl">Counters</h2>
        <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
            <Counter count="520" title="Stars" sub="On GitHub" />
            <Counter count="17" title="Accessible" sub="Components" />
            <Counter count="500" title="Commits" sub="Merged" />
            <Counter count="18+" title="Months" sub="Since launch" />
        </div>
    </section>
</BaseLayout>