---

import '../helper.ts'; // Ensure this import is present to include the prototype extension
import Hero from "../components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
export const TITEL="Home"

---

<BaseLayout>
</BaseLayout>
<div>
 <span class="bg-primary-100 "></span>
 <span class="bg-primary-200 "></span>
 <span class="bg-primary-300 "></span>
 <span class="bg-primary-400 "></span>
 <span class="bg-primary-500 "></span>
 <span class="bg-primary-600 "></span>
 <span class="bg-primary-700 "></span>
 <span class="bg-primary-800 "></span>
 <span class="bg-primary-900 "></span>
 <span class="text-primary-100 "></span>
 <span class="text-primary-200 "></span>
 <span class="text-primary-300 "></span>
 <span class="text-primary-400 "></span>
 <span class="text-primary-500 "></span>
 <span class="text-primary-600 "></span>
 <span class="text-primary-700 "></span>
 <span class="text-primary-800 "></span>
 <span class="text-primary-900 "></span>
</div>