---

import '../helper.ts'; // Ensure this import is present to include the prototype extension

import BaseLayout from "../layouts/BaseLayout.astro";
export const TITEL="Home"

---

<BaseLayout>
 Index
</BaseLayout>
<div>
 <span class="bg-red-500"></span>
 <span class="bg-green-500"></span>
 <span class="bg-blue-500"></span>
 <span class="bg-yellow-500"></span>
 <span class="bg-brown-500"></span>
 <span class="bg-purple-500"></span>
</div>