---
import {Icon} from "astro-icon/components";
const { name, clazz,icon,url } = Astro.props

---
<div class={`${clazz} inline-flex flex-row rounded-2xl text-base px-2 py-1 align-middle justify-center items-center`}>
    {icon && <Icon name={`mdi:${icon}`}/>}
    <span >{name}</span>
</div>
