---
import { Icon } from 'astro-icon/components'

const { src = '/astronaut-hero-img.webp' } = Astro.props


---
<div class="flex flex-row items-center justify-between w-full px-36">
  <div class="">
    <div class="middle">
        <span class="text-type-animation"><strong>Ich bin ein</strong>  <br>
            <span
              class="txt-rotate"
              data-period="2000"
              data-rotate='["Läufer", "Planer", "Optimierer" ]'>
            </span>
        </span>
    </div>
  </div>
  <div class=" shadow-[0px_7px_10px_0px_rgba(169,96,236,_0.3)] duotone h-fit w-fit  ">
    <img class=" h-auto w-[600px]" src="/Assets/ProfileImage.jpg" alt="random image">
  </div>
</div>



<style>

  @import url('https://fonts.googleapis.com/css?family=Playfair+Display');

  body{
    background:#f2f2f2;
  }
  div.middle{
    width:100%;
    text-align:center;
  }
  .text-type-animation{
    text-transform:uppercase;
    font-size:100px;
    line-height: 100px;


  }
  .txt-rotate{
    color:grey;
  }























  .duotone {
    position: relative;
  }

  .duotone img {
  }

  /* CSS generated layers for duotone shadow/highlight colors */

  .duotone::before,
  .duotone::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  }




  /* CSS generated layers for duotone shadow/highlight colors */

  .duotone::before,
  .duotone::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  }

  /* highlight color */
  @supports (mix-blend-mode: darken){
    .duotone::after{
      background-color: #b87df2;
      mix-blend-mode: darken;
    }
  }

  /* shadow color */
  @supports (mix-blend-mode: lighten){
    .duotone::before{
      background-color: #3a0e5d;
      mix-blend-mode: lighten;
    }
  }

</style>

<!--//'primary': {-->
<!--    //         '50': '#faf6fe',-->
<!--  //         '100': '#f3eafd',-->
<!--  //         '200': '#e9d8fc',-->
<!--  //         '300': '#d8b9f9',-->
<!--  //         '400': '#b87df2',-->
<!--  //         '500': '#a960ec',-->
<!--  //         '600': '#9340dd',-->
<!--  //         '700': '#7e2ec2',-->
<!--  //         '800': '#6a2b9e',-->
<!--  //         '900': '#57247f',-->
<!--  //         '950': '#3a0e5d',-->
<!--  //         },-->
<script is:inline src="/Assets/textChange.js"></script>