---

import KanbanColumn from "./KanbanColumn.astro";

const ToDoList = [
    {
        projectTitle: "Trading Bot Platform",
        fromDate: "Mrz. 2025",
        toDate: "...",
        githubUrl: "",
        fileUrl:"/project/TradingBot.mdx",
        technologies: [
            { name: "Typescript", clazz:"bg-primary-500 text-primary-900", icon: "language-typescript" },
            { name: "RabbitMQ", clazz:"bg-primary-400 text-primary-800", icon: "rabbit" },
            { name: "C#", clazz:"bg-primary-300 text-primary-700", icon: "" },
            { name: "Python", clazz:"bg-primary-200 text-primary-600", icon: "language-python" },
            { name: "Alpaca", clazz:"bg-primary-100 text-primary-500", icon: "api", url:"https://docs.alpaca.markets/" },
            // Add more technologies as needed
        ]
    }
];
const InProgressList = [
    {
        projectTitle: "Portfolio Website",
        fromDate: "Nov. 2024",
        toDate: "Today",
        githubUrl: "https://github.com/Stephan-Stieger/PortfolioStieger.git",
        fileUrl:"/project/AstroWebPortfolio.mdx",
        technologies: [
            { name: "Typescript", clazz:"bg-primary-500 text-primary-900",   icon: "language-typescript" },
            { name: "Tailwind", clazz:"bg-primary-400 text-primary-800",   icon: "tailwind" },
            { name: "Astro", clazz:"bg-primary-300 text-primary-700",   icon: "rocket-launch" },
            { name: "MDX Files", clazz:"bg-primary-200 text-primary-600",   icon: "language-markdown" }
        ]
    },
    {
        projectTitle: "Firmen Dashboard",
        fromDate: "Mrz. 2023",
        toDate: "Today",
        githubUrl: "",
        fileUrl:"/project/Dashboard.mdx",
        technologies: [
            { name: "Typescript",clazz:"bg-primary-500 text-primary-900",   icon: "language-typescript" },
            { name: "Tailwind",clazz:"bg-primary-400 text-primary-800",   icon: "tailwind" },
            { name: "Angular",clazz:"bg-primary-300 text-primary-700",   icon: "angular" },
            { name: "C#",clazz:"bg-primary-200 text-primary-600",   icon: "" },
            { name: "SQL",clazz:"bg-primary-100 text-primary-500",   icon: "database" },
        ]
    }
];
const DoneList = [
    {
        projectTitle: "AdventOfCode2024",
        fromDate: "Dez. 2024",
        toDate: "Dez. 2024",
        githubUrl: "https://github.com/Stephan-Stieger/AdventOfCode2024",
        fileUrl:"/project/AdventOfCode.mdx",
        technologies: [
            { name: "Python", clazz:"bg-primary-500 text-primary-900", icon: "language-python" },
            { name: "Jupyter",clazz:"bg-primary-400 text-primary-800",  icon: "notebook" },

            // Add more technologies as needed
        ]
    }
];
---
<section class=" w-full flex flex-row">
    <KanbanColumn title="To Do" projects={ToDoList}></KanbanColumn>
    <KanbanColumn title="In Progress" projects={InProgressList}></KanbanColumn>
    <KanbanColumn title="Done" projects={DoneList}></KanbanColumn>
</section>