---
const {href} = Astro.props
---

{href===undefined
    ?
        <a href={href} class="text-left hover:underline hover:scale-105 text-red-500 cursor-not-allowed" >
            <slot></slot>
        </a>
    :
        <a href={href} class="text-left hover:underline hover:scale-105" >
            <slot></slot>
        </a>
    }
